body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95890;
}

.green{
    background-color: rgba(71, 94, 106, 0.755);
}

.purple{
     background-color: #63aac0;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}